<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/cardCarousel.css" type="text/css">

</head>
<body>
	<div>
		<div class="my-5 text-center container">
			<div class="row d-flex align-items-center">
				<div class="col-1 d-flex align-items-center justify-content-center">
					<a href="#carouselExampleIndicators" role="button"
						data-slide="prev">
						<div class="carousel-nav-icon">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
								xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path
									d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z" />
               </svg>
						</div>
					</a>
				</div>
				<div class="col-10">
					<!--Start carousel-->
					<div id="carouselExampleIndicators" class="carousel slide"
						data-ride="carousel">

						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="row">
									<div class="col-12 col-md d-flex align-items-center justify-content-center">
										<div class="Card" style="background-color:white;">
											<div style="float:left;background-color:black;">
												<h4><font size="1">2021/</font>4/9 (五) 19:30</h4>
											</div>
											<img src="Images/Larp/hideAndSeek.png" class="card-img-top"
												alt="...">											
												<img class="avatar" src="Images/man.png" width="60" height="60">											
											<div class="card-body" >
												<div style="float:left;font-size:24px">
													<b>一起捉迷藏</b><b class="card-text">(尚缺2男1女)</b>
												</div>										
												<div style="float:left;">拉普星球(650/人)</div>														
											</div>
										</div>
									</div>
									<div
										class="col-12 col-md d-flex align-items-center justify-content-center">

										<div class="Card">
											<img src="Images/Larp/hello.png" class="card-img-top"
												alt="...">
											<div class="card-body">
												<h4 class="card-title">你好</h4>
												<p class="card-text">2021/4/16 (五) 19:00</p>
												<p class="card-text">拉普星球(600/人)</p>
												<p class="card-text">尚缺1男</p>
												<a href="#" >更多資訊</a>
												<a href="#" class="btn btn-primary" >立刻加入</a>
											</div>
										</div>
									</div>
									<div
										class="col-12 col-md d-flex align-items-center justify-content-center">

										<div class="Card">										
											<img src="Images/Larp/hangover.png" class="card-img-top"
												alt="...">
											<div class="card-body">
												<h4 class="card-title">宿醉</h4>
												<p class="card-text">2021/5/1 (六) 13:30</p>
												<p class="card-text">遊域(優惠550/人)</p>
												<p class="card-text">尚缺3女</p>
												<a href="#" >更多資訊</a>
												<a href="#" class="btn btn-primary" >立刻加入</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="row">
									<div
										class="col-12 col-md d-flex align-items-center justify-content-center">

										<div class="Card">
											<img src="Images/Larp/isolated.png" class="card-img-top"
												alt="...">
											<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<p class="card-text">Some quick example text to build on
													the card title and make up the bulk of the card's content.</p>
												<a href="#" class="btn btn-primary">Go somewhere</a>
											</div>
										</div>
									</div>
									<div
										class="col-12 col-md d-flex align-items-center justify-content-center">

										<div class="Card">
											<img src="Images/Larp/lingeringWarmth.png"
												class="card-img-top" alt="...">
											<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<p class="card-text">Some quick example text to build on
													the card title and make up the bulk of the card's content.</p>
												<a href="#" class="btn btn-primary">Go somewhere</a>
											</div>
										</div>
									</div>
									<div
										class="col-12 col-md d-flex align-items-center justify-content-center">

										<div class="Card">
											<img src="Images/Larp/springInNorth.png" class="card-img-top"
												alt="...">
											<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<p class="card-text">Some quick example text to build on
													the card title and make up the bulk of the card's content.</p>
												<a href="#" class="btn btn-primary">Go somewhere</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--End carousel-->
				</div>
				<div class="col-1 d-flex align-items-center justify-content-center">
					<a href="#carouselExampleIndicators" data-slide="next">
						<div class="carousel-nav-icon">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
								xmlns:xlink="http://www.w3.org/1999/xlink">
               <path
									d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
            </svg>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>