<div class="card" style="width: 18rem;">
  		<p class="card-time"><font>2021/4/26</font> <font> 01:23</font></p> 
  		<img src="Images/Larp/springInNorth.png" class="cardTopImg">
  		<div class="card-body">
    		<h3 class="card-title"><a href="#" class="">北國之春</a></h3>    			
    		<p class="card-text"><font>共6人</font> <font> 缺1男2女</font></p>
    		<p class="card-text"><a href="#" class="">衛斯理工作室</a> <font> 650 元/人</font></p>
    		<a href="#" class="btn btn-primary">加入</a> <a href="#" class="">查看更多</a>
  		</div>
	</div>